@media only screen and (max-width: 400px) {
  .info-card {
    margin-top: -4%;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .info-card {
    margin-top: -4%;
  }
}

.info-card {
  margin-top: 3.5%;
}

.info-card-container {
  margin-left: 1%;
}

.info-title {
  color: gray;
  font-weight: 300;
}

.collection .collection-item.avatar {
  min-height: 4em;
}

.collection .collection-item.avatar i.circle {
    background-color: #3F7AFD;
}

.button-container a {
  margin-top: -11%;
}

.material-icons {
  color: #3F7AFD;
}

a:focus, a:hover {
    color: #23527c;
    text-decoration: none;
    cursor: pointer;
}
