.cancel-button {
  margin-right: 5px;
  margin-top: 5px;
}

.submit-button {
  margin-top: 5px;
}

.social-reach {
  margin-top: 3em;
}

.social-title {
  margin-top: 3em;
}

.divider {
  margin-left: 10%;
  margin-right: 10%;
}

.buttons-container {
  margin-bottom: 8%;
  margin-left: 5%;
}

.modal {
  height: 30em;
  width: 40em;
  z-index: 1000;
  position: fixed;
  display: inline-block;
  top: 0;
  bottom: 0;
  background-color: white;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,.4);
  overflow-y: scroll;
}

.form-group {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5px;
}

.form-control {
  margin-bottom: 10px;
}
