
.card-avatar {
}

.info-card {
  margin-top: 9%;
  height: 23em;
}

.channel-name {
  color: #3F7AFD;
  font-weight: 300;
}

.creator-stats {
  color: #3F7AFD;
  font-weight: 300;
}

.linked-badge {
  margin: 1em;
  font-weight: 300;
  font-size: 0.8rem;
  color: #fff;
  background-color: #69f0ae;
  border: 6px solid #69f0ae;
  border-radius: 2px;
}

.channel-id {
  font-weight: 300;
}

.divider {
  margin-bottom: 2%;
}
